.popup {
  width: 95%;
  height: 100%;
  margin: 30px 2px;
  padding: 10px;
  text-overflow: ellipsis;
  border-radius: 10px;
}
.header__title {
  font-weight: 600;
}
.header__title,
.timer,
.timer__info,
.tab:hover {
  background: linear-gradient(red, orange);
  background: -webkit-linear-gradient(red, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.popup__header,
.popup__timer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header__icons {
  display: flex;
  align-items: center;
}
.tab {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.tab p {
  margin-top: -1px;
}
.timer {
  font-size: 50px;
}
.timer__info {
  font-size: 20px;
}
