.app {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #f2f0f1;
  padding: 20px 30px;
}
.popup {
  width: 400px;
  padding: 30px 20px;
  text-overflow: ellipsis;
  border-radius: 20px;
  background-color: #fff;
}
.header__title {
  font-weight: 600;
}
.header__title,
.timer,
.timer__info,
.tab:hover {
  background: linear-gradient(red, orange);
  background: -webkit-linear-gradient(red, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.popup__header,
.popup__timer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.popup__header {
  margin-bottom: 30px;
}
.header__icons {
  display: flex;
  align-items: center;
}
.tab {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.tab p {
  margin-top: -1px;
}
.timer {
  font-size: 50px;
}
.timer__info {
  font-size: 20px;
}

.app-header {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
